body{
    background: url(penguin.jpg);
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding:10px;
}
#b1{
    border: solid;
    width: 250px;
    height:250px;
    background:linear-gradient(skyblue,lightgreen,violet,silver);
    margin:auto;
}
#b2{
  border: solid;
  padding:10px;
    width: 250px;
    height:250px;
    background:linear-gradient(skyblue,lightgreen,violet,silver);
}

#b3{
    border:4px solid;
    width: 250px;
    height:250px;
    margin-left:auto;
}
#b4{
    border:4px solid;
    width:250px;
    height:250px;
    background:url(penguin.jpg);
    background-position:center;
    background-size:cover;
}
#b5{
    border:4px solid;
    width:250px;
    height:250px;
    margin-left:auto;
    margin-right:auto;
}
#b6{
    border:4px solid;
    width:250px;
    height:250px;
    margin:auto;
}
#b7{

    border:4px solid;
    width:250px;
    height:250px;
    margin-left:200px;
}