#hi{
    border:1px solid;
    width:250px;
    height:250px;
    font-size:210px;
    text-align:center;

    transform: scaleX(2);
    transform: scaley(2);
    transform: scale(2,2);
    transform:skew(180deg);
    
    transform:rotateX(45deg);
    transform:rotatey(45deg);
    transform:rotateZ(90deg);
    transform:skewX(-50deg);
    transform:skewy(50deg);
    transform:matrix(1,0, 0, 1, 0,0);
}